[submodule "lib/vendor/lovetoys"]
	path = lib/vendor/lovetoys
	url = https://github.com/lovetoys/lovetoys.git
[submodule "lib/vendor/Simple-Tiled-Implementation"]
	path = lib/vendor/Simple-Tiled-Implementation
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
